<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>BioMart Apps</display-name>
  <!-- Servlets -->
  <servlet-mapping>
    <servlet-name>OAuthAdminService</servlet-name>
    <url-pattern>/oauth_admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OAuthAdminService</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.biomart.oauth.rest.OAuthApplication</param-value>
    </init-param>
  </servlet>
  <listener>
    <listener-class>org.biomart.web.GuiceServletConfig</listener-class>
  </listener>
  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
      <listener-class> com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  <servlet>
      <servlet-name>jaxws-servlet</servlet-name>
      <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
      <servlet-name>jaxws-servlet</servlet-name>
      <url-pattern>/martsoap</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RequestTokenServlet</servlet-name>
    <servlet-class>org.biomart.oauth.provider.servlets.RequestTokenServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTokenServlet</servlet-name>
    <url-pattern>/oauth/token</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorizationServlet</servlet-name>
    <servlet-class>org.biomart.oauth.provider.servlets.AuthorizationServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorizationServlet</servlet-name>
    <url-pattern>/oauth/authorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>org.biomart.oauth.provider.servlets.AccessTokenServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/oauth/access</url-pattern>
  </servlet-mapping>
  <!-- Taglib -->
  <taglib>
    <taglib-uri>/WEB-INF/bmtaglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/bmtaglib.tld</taglib-location>
  </taglib>
  <error-page>
    <error-code>404</error-code>
    <location>/_404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/_500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>JavascriptServlet</servlet-name>
    <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
    <init-param>
      <param-name>configLocation</param-name>
      <param-value>/jawr.properties</param-value>
    </init-param>
    <init-param>
      <param-name>mapping</param-name>
      <param-value>/bundles/js/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>CssServlet</servlet-name>
    <servlet-class>net.jawr.web.servlet.JawrServlet</servlet-class>
    <init-param>
      <param-name>configLocation</param-name>
      <param-value>/jawr.properties</param-value>
    </init-param>
    <init-param>
      <param-name>type</param-name>
      <param-value>css</param-value>
    </init-param>
    <init-param>
      <param-name>mapping</param-name>
      <param-value>/bundles/css/</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>JavascriptServlet</servlet-name>
    <url-pattern>/bundles/js/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CssServlet</servlet-name>
    <url-pattern>/bundles/css/*</url-pattern>
  </servlet-mapping>
</web-app>
