/* General */
.biomart .col-a {
    float: left;
    width: 500px;
}
.biomart .col-b {
    float: right;
    width: 490px;
}
.biomart .panel {
     margin-bottom: 10px;
}
#biomart-top-wrapper {
    overflow: hidden;
}
#biomart-wrapper {
    color: #333;
    background-image: none;
    background-color: #fff;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#biomart-wrapper h3 .ui-icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    background-image: url("../lib/ui/aristo/images/ui-icons_222222_256x240.png");
}
#biomart-content {
    border-top: none;
    border-bottom: none;
    font-weight: normal;
    color: inherit;
    padding: 4px;
    font-size: 14px;
    min-height: 100px;
}
#biomart-wrapper h2 {
    overflow: hidden;
    text-shadow: 1px 1px 2px #ddccb5;
    color: #897048;
    font-size: 24px;
    font-weight: normal;
    font-variant: small-caps;
    text-align: center;
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; border-top-left-radius: 4px;
}
#biomart-wrapper h3 {
    position: relative;
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    font-variant: small-caps;
    padding: 5px;
    margin: 0 0 5px 0;
    text-transform: capitalize;
    z-index: 101;
    -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
}
#biomart-wrapper h4 {
    position: relative;
    font-weight: normal;
    margin: 0;
    padding: 3px 20px;
    font-size: 16px;
    z-index: 101;
}
#biomart-top-wrapper.wide {
    width: 99% !important;
}


/* Layout 1 */
.layout1 #biomart-top-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* Layout 2 */
.layout2 #biomart-top-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    min-width: 1000px;
}

/* Layout 3 */
.layout3 #biomart-top-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

